@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';
 * {
     box-sizing: border-box;
}

 .svg {
     stroke: #7ceaa4;
     position: absolute;
     bottom: -100vh;
     transform-style: preserve-3d;
}
 .svg:nth-child(1) {
     left: 48%;
     animation: raise1 9s linear infinite;
     animation-delay: +1s;
     transform: scale(0.9) rotate(199deg);
     z-index: 2;
     filter: blur(-5px);
     opacity:0;
}
.svg:nth-child(1){
    animation-delay: 2s;
    opacity: 1;
}
 .svg:hover{
     opacity: 10%;
     cursor: pointer;
     animation-play-state: paused;
}
 .svg:nth-child(1):hover{
     opacity: 10%;
     cursor: pointer;
     animation-play-state: paused;
}
 .svg:nth-child(2):hover{
     opacity: 10%;
     cursor: pointer;
     animation-play-state: paused;
}
 .svg:nth-child(3):hover{
     opacity: 10%;
     cursor: pointer;
     animation-play-state: paused;
}
 .svg:nth-child(4):hover{
     opacity: 10%;
     cursor: pointer;
     animation-play-state: paused;
}
 .svg:nth-child(5):hover{
     opacity: 10%;
     cursor: pointer;
     animation-play-state: paused;
}
 .svg:nth-child(6):hover{
     opacity: 10%;
     cursor: pointer;
     animation-play-state: paused;
}

 @keyframes raise1 {
     to {
         bottom: 150vh;
         transform: scale(-0.6) rotate(95deg);
    }
}
 .svg:nth-child(2) {
     left: 35%;
     animation: raise2 10s linear infinite;
     animation-delay: +2s;
     transform: scale(0.35) rotate(147deg);
     z-index: 2;
     filter: blur(-4px);
}
 @keyframes raise2 {
     to {
         bottom: 150vh;
         transform: scale(0) rotate(302deg);
    }
}
 .svg:nth-child(3) {
     left: 15%;
     animation: raise3 8s linear infinite;
     animation-delay: 3s;
     transform: scale(0.2) rotate(-237deg);
     z-index: 2;
     filter: blur(-3px);
}
 @keyframes raise3 {
     to {
         bottom: 150vh;
         transform: scale(0.9) rotate(59deg);
    }
}
 .svg:nth-child(4) {
     left: 58%;
     animation: raise4 12s linear infinite;
     animation-delay: +4s;
     transform: scale(0.87) rotate(218deg);
     z-index: 2;
     filter: blur(-2px);
}
 @keyframes raise4 {
     to {
         bottom: 150vh;
         transform: scale(0.1) rotate(78deg);
    }
}
 .svg:nth-child(5) {
     left: 81%;
     animation: raise5 7s linear infinite;
     animation-delay: +1.5s;
     transform: scale(0.02) rotate(287deg);
     z-index: 2;
     filter: blur(-1px);
}
 @keyframes raise5 {
     to {
         bottom: 150vh;
         transform: scale(0.9) rotate(267deg);
    }
}
 .svg:nth-child(6) {
     left: -5%;
     animation: raise6 6s linear infinite;
     animation-delay: +2s;
     transform: scale(0.05) rotate(199deg);
     z-index: 2;
     filter: blur(0px);
}
 @keyframes raise6 {
     to {
         bottom: 150vh;
         transform: scale(0.9) rotate(348deg);
    }
}


  

 